:root {
    --dark: #14222D;
	--medium-dark: #508BB3;
	--medium: #6096C4;
	--medium-light: #649ECD;
	--light: #B6E2FF;
}

.windmill {
    position: relative;
	width: 800px;
	height: 500px;
	overflow: hidden;
	margin: auto;
    background: var(--medium-light);
}

.windmill *,
.windmill *::after,
.windmill *::before {
	content: '';
	position: absolute;
}

.sun {
	top: 145px;
	left: 245px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background: var(--light);
	box-shadow: 0 0  300px 80px var(--light), 0 0 200px 40px var(--light), 0 0 50px 10px var(--light);
}

.slice-4 {
	top: 179px; 
	left: 105px;
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
	border-bottom: 250px solid var(--medium-light);
}

.slice-4:before {
	top: 80px;
	left: 60px;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 170px solid var(--medium-light);
}

.slice-4:after {
	top: 55px;
	left: -70px;
	border-left: 180px solid transparent;
	border-right: 180px solid transparent;
	border-bottom: 195px solid var(--medium-light);
}

.slice-4 div {
	top: 85px;
	left: -392px;
	border-left: 170px solid transparent;
	border-right: 170px solid transparent;
	border-bottom: 155px solid var(--medium-light);
}

.slice-4 div:before {
	top: -38px;
	left: -105px;
	border-left: 220px solid transparent;
	border-right: 220px solid transparent;
	border-bottom: 195px solid var(--medium-light);
}

.slice-4 div:after {
	top: 20px;
	left: -115px;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 135px solid var(--medium-light);
}



.slice-3 {
    top: 321px; 
    left: -15px;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
    border-bottom: 150px solid var(--medium);
}

.slice-3:before {
    top: 23px; 
    left: -78px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 15px solid var(--medium);
}

.slice-3:after {
    top: 31px; 
    left: 89px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 15px solid var(--medium);
}

.slice-3 .left-tree {
    top: -4px; 
    left: -30px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid var(--medium);
}

.slice-3 .left-tree:before {
    top: 19px; 
    left: -46px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 20px solid var(--medium);
}

.slice-3 .left-tree:after {
    top: 11px; 
    left: -12px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 15px solid var(--medium);
}

.slice-3 .right-tree {
    top: 2px; 
    left: 33px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid var(--medium);
}
.slice-3 .right-tree:before {
    top: -2px; 
    left: -19px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 16px solid var(--medium);
}

.slice-3 .right-tree:after {
    top: 15px; 
    left: -19px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 25px solid var(--medium);
}

.slice-2 {
    top: 342px; 
    left: 205px;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 110px solid var(--medium-dark);
}

.slice-2:before {
	top: 10px; 
    left: 39px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 12px solid var(--medium-dark);
}

.slice-2:after {
	top: 13px; 
    left: 46px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 10px solid var(--medium-dark);
}

.slice-1 {
    top: 190px; 
    left: 0px;
    border-right: 400px solid transparent;
    border-bottom: 315px solid var(--dark);
}

.slice-1:before {
    top: 240px; 
    left: 180px;
    width: 400px; 
    height: 80px;
    border-radius: 100% 100% 0 0;
    background: var(--dark);
}

.slice-1:after {
    top: 150px; 
    left: 390px;
    border-left: 230px solid transparent;
    border-right: 520px solid transparent;
    border-bottom: 175px solid var(--dark);
}

.mill {
    bottom: 100px;
    right: 130px;
    width: 60px;
    border-style: solid;
    border-color: var(--dark) transparent;
    border-width: 0 10px 135px;
}

.mill:before {
    top: -48px;
    left: -10px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid var(--dark);
}

.mill:after {
    top: 7px;
    left: 25px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: var(--light);
}

.blades {
    top: 6px;
    left: 30px;
    animation: blades 12s linear infinite;
}

.blade {
    height: 80px;
    width: 24px;
    border: 2px solid var(--dark);
}

.blade:before {
    top: 47px;
    left: -2px;
    height: 14px;
    width: 24px;
    border: 2px solid var(--dark);
}

.blade:after {
    top: 15px;
    left: -2px;
    height: 14px;
    width: 24px;
    border: 2px solid var(--dark);
}

.blade:nth-child(1) {
    top: -84px;
    left: -13px;
}

.blade:nth-child(2) {
    bottom: -84px;
    left: -13px;
}

.blade:nth-child(3) {
    top: -43px;
    left: -56px;
    transform: rotate(90deg);
}

.blade:nth-child(4) {
    top: -43px;
    left: 28px;
    transform: rotate(90deg);
}


@keyframes blades {
    100% {
        transform: rotate(360deg)
    }
}