:root {
    --dark-one: #041201;
    --dark-two: #051501;
    --dark-three: #071E02;
    --medium-dark: #061a02;
    --skewer-light: #babac2;
    --skewer-medium-light: #a9a8af;
    --skewer-medium: #948f9f;
    --skewer-medium-dark: #3d3543;
    --skewer-dark: #56565a;
    --fire-dark: #991605;
    --fire-medium: #cc3333;
    --fire-light: #f06e54;
    --fire-lightest: #fea42a;
    --fire-bg: #f55805;
    --log-darkest: #4d2305;
    --log-dark: #3b1902;
    --log-medium: #6b4023;
    --rock-darkest: #000;
    --rock-dark-one: #3d3543;
    --rock-dark-two: #604c74;
    --rock-medium-dark: #877c93;
    --rock-medium: #5d4b4e;
    --rock-medium-light: #948f9f;
    --rock-light: #756581;
    --grass-light: #390070;
    --pig-dark: #f45f87;
    --pig-medium: #f789aa;
    --pig-light: #ffb6ca;
    --pig-shadow-one: #e895b6;
    --pig-shadow-two: #dd507f;
    --pig-ear: #f98aac;
    --pig-ear-shadow: #d56595;
    --pig-tail-light: #e592b2;
}

body, html {
    padding: 0;
    margin: 0;
}

.forest {
    height: 600px; 
    width: 800px;
    overflow: hidden;
    background: var(--dark-one);

}

.forest:before {
    content: "";
    position: absolute;
    top: 54px;
    left: 145px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, var(--medium-dark) 83%, transparent 83%);
}

.forest *,
.forest *:before,
.forest *:after {
    content: "";
    position: absolute;
}

.tree1 {
    top: 97px; 
    left: 393px;
	width: 14px;
	border-radius: 100% 100% 0 0;
	border-bottom: 380px solid var(--dark-three);
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
}

.tree1:before {
    top: -6px; 
    left: 15px;
    width: 132px; 
    height: 111px;
    border-radius: 0 0 100% 0;
    border-bottom: 30px solid var(--dark-three);
    border-right: 14px solid var(--dark-three);
}

.tree1:after {
    top: -6px; 
    left: -147px;
    width: 132px; 
    height: 111px;
    border-radius: 0 0 0 100%;
    border-bottom: 30px solid var(--dark-three);
    border-left: 14px solid var(--dark-three);
}

.tree2 {
	top: 60px; 
    left: 238px;
	width: 42px;
	border-bottom: 420px solid var(--dark-two);
	border-right: 14px solid transparent;
}

.tree2:before {
	top: -10px; 
    left: 43px;
	width: 37px; 
    height: 61px;
	border-radius: 0 0 100% 0;
	border-bottom: 36px solid var(--dark-two);
	border-right: 22px solid var(--dark-two);
}

.tree2:after {
	top: 90px; 
    left: -78px;
	width: 56px; 
    height: 80px;
	border-radius: 0 0 0 100%;
	border-bottom: 36px solid var(--dark-two);
	border-left: 22px solid var(--dark-two);
}

.tree3 {
	top: 50px; 
    left: 427px;
	width: 39px;
	border-bottom: 430px solid var(--dark-two);
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

.tree3:before {
	top: 222px; 
    left: -285px;
	width: 16px;
	border-radius: 20px 20px 0 0;
	border-bottom: 200px solid var(--dark-one);
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
}

.tree3:after {
	top: 0px; 
    left: -83px;
	width: 10px;
	border-bottom: 460px solid var(--dark-three);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.tree4 {
	position: absolute;
	top: 120px;
	left: 575px;
	width: 18px;
	border-bottom: 360px solid var(--dark-one);
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
}

.tree4:before {
	content: '';
	position: absolute;
	top: -50px;
    left: -73px;
	width: 70px;
	height: 156px;
	border-radius: 0 0 0 110px;
	border-bottom: 40px solid var(--dark-one);
	border-left: 18px solid var(--dark-one);
}

.fire {
    top: 200px;
    left: 190px;
    width: 400px;
    height: 280px;
    overflow: hidden;
}

.fire:before {
    top: 74px; 
    left: 68px;
    width: 273px;
    height: 273px;
    border-radius: 50%;
    background: var(--fire-bg);
    opacity: 0.25;
    box-shadow: inset 0 14px 0 37px var(--fire-dark);
    animation: light 5s ease infinite;
}

.fire > div:nth-child(1) {
    bottom: 0px; 
    left: 137px;
    width: 26px; 
    height: 80px;
    border-radius: 20px;
    background: var(--fire-medium);
    transform-origin: bottom left;
    transform: rotate(-34deg) translateY(34px);
}

.fire > div:nth-child(1):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    transform: translateY(13px);
}

.fire > div:nth-child(2) {
    bottom: 0px; 
    left: 144px;
    width: 26px; 
    height: 80px;
    border-radius: 20px;
    background: var(--fire-medium);
    animation: fire 1.5s -0.1s ease infinite;
}

.fire > div:nth-child(2):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    animation: fire 1.5s -0.6s ease infinite;
}

.fire > div:nth-child(2):after {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-lightest);
    animation: fire 1.5s -0.2s ease infinite;
}

.fire > div:nth-child(3) {
    bottom: 0px; 
    left: 170px;
    width: 26px; 
    height: 110px;
    border-radius: 20px;
    background: var(--fire-medium);
    animation: fire 1.5s -0.9s ease infinite;
}

.fire > div:nth-child(3):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    animation: fire 1.5s -0.4s ease infinite;
}

.fire > div:nth-child(3):after {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-lightest);
    animation: fire 1.5s -0.2s ease infinite;
}

.fire > div:nth-child(4) {
    bottom: 0px; 
    left: 196px;
    width: 26px; 
    height: 110px;
    border-radius: 20px;
    background: var(--fire-medium);
    animation: fire 1.5s -0.4s ease infinite;
}

.fire > div:nth-child(4):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    animation: fire 1.5s -0.1s ease infinite;
}

.fire > div:nth-child(4):after {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-lightest);
    animation: fire 1.5s -0.8s ease infinite;
}

.fire > div:nth-child(5) {
    bottom: 0px; 
    left: 222px;
    width: 26px; 
    height: 110px;
    border-radius: 20px;
    background: var(--fire-medium);
    animation: fire 1.5s -0.3s ease infinite;
}

.fire > div:nth-child(5):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    animation: fire 1.5s -0.7s ease infinite;
}

.fire > div:nth-child(5):after {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-lightest);
    animation: fire 1.5s ease infinite;
}

.fire > div:nth-child(6) {
    bottom: 0px; 
    left: 248px;
    width: 26px; 
    height: 90px;
    border-radius: 20px;
    background: var(--fire-medium);
    animation: fire 1.5s -0.7s ease infinite;
}

.fire > div:nth-child(6):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    animation: fire 1.5s -0.3s ease infinite;
}

.fire > div:nth-child(6):after {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-lightest);
    animation: fire 1.5s -0.5s ease infinite;
}

.fire > div:nth-child(7) {
    bottom: 0px; 
    left: 228px;
    width: 26px; 
    height: 80px;
    border-radius: 20px;
    background: var(--fire-medium);
    transform-origin: right bottom;
    transform: translateY(40px) rotate(33deg) ;
}

.fire > div:nth-child(7):before {
    bottom: 0px; 
    left: 0;
    width: 26px; 
    height: 70px;
    border-radius: 20px;
    background: var(--fire-light);
    transform: translateY(6px);
}

.log1 {
    top: 468px;
    left: 394px;
    width: 86px;
    height: 30px;
    border-radius: 20px;
    background: var(--log-medium);
    box-shadow: inset 78px -9px 0 -30px var(--log-dark), inset 56px 0 0 var(--log-darkest);
}

.log1:before {
    top: 11px;
    left: 67px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--log-darkest);
    box-shadow: 0 0 0 4px var(--log-medium), 0 0 0 7px var(--log-darkest);
}

.log1:after {
    top: 1px;
    left: -71px;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    background: var(--log-medium);
    transform-origin: bottom right;
    transform: rotate(43deg);
    box-shadow: inset -20px 0 0 0 var(--log-dark);
}

.log2 {
    top: 465px;
    left: 306px;
    width: 102px;
    height: 32px;
    border-radius: 20px;
    background: var(--log-medium);
    box-shadow: inset -86px -20px 0 -30px var(--log-dark), inset -69px 0 var(--log-darkest);
}

.log2:before {
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--log-darkest);
    box-shadow: 0 0 0 5px var(--log-medium), 0 0 0 8px var(--log-darkest);
}

.log2:after {
    top: 34px;
    left: 103px;
    width: 32px;
    height: 8px;
    border-radius: 8px;
    background: var(--log-medium);
    transform-origin: bottom left;
    transform: rotate(-2deg);
    box-shadow: inset 24px 0 var(--log-darkest);
}

.log3 {
    top: 458px;
    left: 409px;
    width: 56px;
    height: 30px;
    border-radius: 30px;
    background: var(--log-medium);
    box-shadow: inset 71px -5px 0 -35px var(--log-dark), inset -69px 0 var(--log-darkest);
    transform-origin: bottom left;
    transform: rotate(-28deg);
}

.log3:before {
    top: -45px;
    left: -24px;
    width: 32px;
    height: 70px;
    border-radius: 30px;
    background: var(--log-medium);
    box-shadow: inset 0 -37px var(--log-darkest);
    transform-origin: bottom left;
    transform: rotate(-20deg);
}

.log3:after {
    top: -35px;
    left: -31px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--log-darkest);
    box-shadow: 0 0 0 5px var(--log-medium), 0 0 0 8px var(--log-darkest);
}

.log4 {
	top: 434px; 
    left: 376px;
	width: 32px; 
    height: 81px;
	border-radius: 30px;
	background: var(--log-medium);
	box-shadow: inset 0 50px var(--log-darkest);
	transform-origin: top left;
	transform: rotate(-24deg);
}

.log4:before {
	top: 49px; 
    left: -11px;
	width: 8px; 
    height: 30px;
	border-radius: 8px;
	background: var(--log-medium);
	box-shadow: inset 0 -22px var(--log-dark);
	transform: rotate(-22deg);
}

.log4:after {
	top: 62px; 
    left: 12px;
	width: 8px; 
    height: 8px;
	border-radius: 50%;
	background: var(--log-darkest);
	box-shadow: 0 0 0 5px var(--log-medium), 0 0 0 8px var(--log-darkest);
}

@keyframes fire {
    0% { transform: translateY(0); }
	32% { transform: translateY(30px); }
	50% { transform: translateY(25px); }
	70% { transform: translateY(10px); }
	90% { transform: translateY(20px); }
	100% { transform: translateY(0); }
}

@keyframes light {
    0% { transform: scale(1); }
	32% { transform: scale(1.1); }
	50% { transform: scale(1.05); }
	70% { transform: scale(1.2); }
	90% { transform: scale(1.05); }
	100% { transform: scale(1); }
}