:root {
    --bg: #a5c8f0;
    --cat: #3b3b3b;
    --bed: #d993b8;
    --stand: #e3e0cf;
}

body {
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main {
    height: 400px;
    width: 400px;
    position: relative;
}

.main .stand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: var(--bed);
    z-index: 2;
}

.main .stand:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 70px;
    border-radius: 20px;
    background-color: var(--stand);
    box-shadow: 0 12px 0 var(--stand), 0 24px 0 var(--stand), 0 36px 0 var(--stand), 0 48px 0 var(--stand), 0 60px 0 var(--stand), 0 72px 0 var(--stand), 0 84px 0 var(--stand)
    , 0 96px 0 var(--stand), 0 108px 0 var(--stand), 0 120px 0 var(--stand), 0 132px 0 var(--stand), 0 144px 0 var(--stand), 0 156px 0 var(--stand)
    , 0 168px 0 var(--stand), 0 180px 0 var(--stand), 0 192px 0 var(--stand), 0 204px 0 var(--stand), 0 216px 0 var(--stand), 0 228px 0 var(--stand), 0 240px 0 var(--stand)
    , 0 252px 0 var(--stand), 0 264px 0 var(--stand), 0 276px 0 var(--stand), 0 288px 0 var(--stand), 0 300px 0 var(--stand), 0 312px 0 var(--stand), 0 324px 0 var(--stand)
    , 0 336px 0 var(--stand), 0 348px 0 var(--stand), 0 360px 0 var(--stand), 0 372px 0 var(--stand), 0 384px 0 var(--stand);
}